{% extends 'base.html' %}
{% block title %} DrChrono Kiosk {% endblock %}
{% block extra_header %}<meta http-equiv="refresh" content="10" >{% endblock %}
{% block body %}
    <div class="container w-50">

    <h3>Today's Appointments :</h3>

    <p><i class="fas fa-calendar-day"></i> {{ current_time }}</p>
    {% if avg_wait_time %}
    <p><i class="fas fa-clock"></i> Today Average Waiting time: {{ avg_wait_time }} minutes</p>
    {% else %}
    <p><i class="fas fa-clock"></i> Average Waiting time: No today data</p>
    {% endif %}
    {% for appointment in appointments %}
    <div class="media bg-light mt-5">
      <div class="media-body">
        <h4 class="mt-1">{{ appointment.patient_name }}</h4>
            <div class="status">
                {% if appointment.status == "Arrived" %}
                    <span class="badge badge-info">Arrived</span>
                {% elif appointment.status == "In Session" %}
                    <span class="badge badge-warning">In Session</span>
                {% elif appointment.status == "Complete" %}
                    <span class="badge badge-success">Complete</span>
                {% elif appointment.status == "Cancelled" %}
                    <span class="badge badge-danger">Cancelled</span>
                {% else %}
                    <span class="badge badge-secondary">Not Checked In</span>
                {% endif %}
            </div>
            <div class="time">
                Appointment Time : {{ appointment.scheduled_time }} - {{ appointment.scheduled_end_time }}
                <br>
                Duration: {{ appointment.duration }} mins
                <br>
                Exam Room Number : {{ appointment.exam_room }}
                <br>
                {% if appointment.waiting_time != None %}
                Waiting Time : {{ appointment.waiting_time }} mins
                {% endif %}
            </div>

            {% if appointment.status == "Arrived" %}
            <a class="btn btn-outline-success start" href="" id="{{ appointment.id }}" value="{% url 'appointment-startappointment' pk=appointment.id %}">Start</a>
            {% endif %}
            {% if appointment.status == "In Session" %}
            <a class="btn btn-outline-warning start" href="" id="{{ appointment.id }}" value="{% url 'appointment-endappointment' pk=appointment.id %}">Finish</a>
            {% endif %}
            {% if appointment.status != "In Session" and appointment.status != "Complete" and appointment.status != "Cancelled" %}
            <a class="btn btn-outline-danger start" href="" id="{{ appointment.id }}" value="{% url 'appointment-cancelappointment' pk=appointment.id %}">Cancel</a>
            {% endif %}
      </div>
    </div>

    {% empty %}
        <h5>No appointments today.</h5>
    {% endfor %}
    
    {% if wait_time %}
    
    {% endif %}

    </div>


<script>
    $(".start").click(function(event) {
        event.preventDefault();

        // console.log($(this).attr('value'));
        $.ajax({
            type: "POST",
            url: $(this).attr('value'),
            success: function(result) {
                window.location="{% url 'index' %}";
            },
            error: function(result) {
                window.location="{% url 'index' %}"
            }
        });
    });
</script>

{% endblock %}



{#   #}